@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --radius: 0.5rem;
    --brand: 27 96% 61%;
    --brand-foreground: 31 97% 72%;
    --gradient-color: #8350e8;
    --sparkles-color: #8350e8;
  }

  .hoverEffect {
    @apply transition-all ease-in-out duration-300;
  }

  nextjs-portal {
    display: none;
  }

  .theme {
    --animate-appear: appear 0.5s ease-out forwards;
    --animate-appear-zoom: appear-zoom 0.5s ease-out forwards;
    --animate-shine: shine var(--duration) infinite linear;
    --animate-skew-scroll: skew-scroll 20s linear infinite;
  }

  .dark {
    --brand: 31 97% 72%;
    --gradient-color: #8350e8;
    --sparkles-color: #ffffff;
  }
}

@layer utilities {
  @keyframes appear {
    0% {
      opacity: 0;
      transform: translateY(10px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }

  @keyframes appear-zoom {
    0% {
      opacity: 0;
      transform: scale(0.95);
    }
    100% {
      opacity: 1;
      transform: scale(1);
    }
  }

  @keyframes shine {
    0% {
      background-position: 0% 0%;
    }
    50% {
      background-position: 100% 100%;
    }
    100% {
      background-position: 0% 0%;
    }
  }

  @keyframes skew-scroll {
    0% {
      transform: rotateX(20deg) rotateZ(-20deg) skewX(20deg);
    }
    100% {
      transform: rotateX(20deg) rotateZ(-20deg) skewX(20deg) translateY(-500%);
    }
  }

  .animate-skew-scroll {
    animation: skew-scroll 20s linear infinite;
  }
}
